*{
    margin:0; /*Deixa todo conteúdo colado nos cantos*/
    padding:0; /*Deixa todo conteúdo sem preenchimento (espaçamento) inicialmente*/  
    font-family: Arial, Helvetica, sans-serif; /*a fonte padrão do site, se alguém achar uma mais bonita, só falar*/
} 

/*==========MENU==========*/

header{
    background-color: #000000; /*cor de fundo do menu*/
    opacity: 90%; /*nível de transparência da cor de fundo do menu*/
    padding: 20px 0; /*preenchimento - top e bottom: 20px; right e left:0px*/
    position: fixed; /*deixar o header fixo ao rolar a página*/
    width: 100%; /*ocupar toda a largura disponível*/
    height: 40px; /*altura do header*/
}

#menu{
    height: 40px; /*para ficar com a mesma altura do header e encaixar certinho a centralização*/
    display: flex; /*Exibe os elementos como um contêiner flexível, para que todos fiquem um ao lado do outro*/
    justify-content: space-around; /*Alinhar os itens flexíveis no centro do contêiner*/
    align-items: center; /*align-items: Alinha os itens na vertical*/ 
}				

.logo_menu{
    width: 120px; /*largura da imagem*/
}

nav li{
    display: inline; /*deixa os itens do menu um ao lado do outro*/ 
}

.item_menu{
    padding: 20px; /*Espaçamento entre os itens*/
    text-decoration: none; /*Tirar a decoração de link*/
    font-size: 18px; /*Tamanho da fonte*/
    font-weight: bold; /*Deixar a fonte em negrito*/
    color:#00bfff /*Cor da fonte*/
}
.item_menu:hover{
    color:#ffffff /*Ao passar o mouse em um item do menu, ele ficará branco*/
}

#capa{
    width: 100%; /*toda largura da página*/
    height: 50%; /*metade da página como altura*/
}

/*======CSS de Rodrigo Prieto======*/
.curriculo{
    height: 100%;
}
.titulo{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	background-color: #0095b8;
}
.imagem-perfil{ 
    width: 200px;   
    margin-top: 100px;
	border: 2px solid white
}
.nome{
    padding: 10px 0px;
	font-size: 30px;
	}
.primeira-coluna{
	background-image: linear-gradient(#0095b8,#99d5e2);
    display: block;
	padding-bottom: auto
	
}
.segunda-coluna{
	background-image: linear-gradient(#99d5e2,#e6f4f8);
    display: block;
}

/*==========RODAPÉ==========*/

.rodape{
    width: 100%; /*rodapé oculpa toda a largura*/
    height: 150px; /*altura do rodapé*/
    background-color: #000000; /*cor de fundo do rodapé*/
    color: #ffffff; /*cor do texto do rodapé*/
}

.rodape-colunas{    
    width: 700px; /*largura do bloco com as três "colunas" do rodapé*/
    display:flex; /*deixa os itens um ao lado do outro*/
    justify-content: space-around; /*Alinhar os itens flexíveis no centro do contêiner*/
    list-style: none; /*tira aquele pontinho de lista dos <li>*/
    text-align: center; /*deixa os elementos centralizados*/
    padding: 15px 0px; /* espaçamento do topo do rodapé até o título dos itens */ 
    margin: 38px auto; /* não sei muito o pq, mas quando coloca margin auto para difeita e para esquerda ele centraliza*/
}

.rodape-item{
    width: 200px; /* o comprimento de cada item do rodapé*/
}

.rodape-item h3{
    color:#00BFFF; /*cor dos títulos do rodapé*/
    font-size: 18; /*tamanho da fonte dos títulos*/
    padding-bottom: 15px; /* espaçamento entre o título e o conteúdo dos itens*/
}

.rodape-item p {
    font-size: 13px; /*tamanho da fonte dos parágrafos*/
}

.redes{
    width: 20px; /*/*Largura da imagem, a altura fica proporcioal à largura*/
    padding: 0 5px; /* espaçamento entre os icones das redes sociais*/
}

/*CSS do Rodrigo Prieto*/
